* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  border: 3px double #00000090;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

a {
  padding: 25px 0;
  text-align: center;
  /*background-color: #000;*/
  text-decoration: none;
  color: whitesmoke;
}

a:hover {

}

.homeSection {
  background-image: url('./background-green.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainMenu {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.navItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.menuBtn {
  margin: 15px 0 0 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border-color: #00000030;
  background: #104040;
  color: whitesmoke;
  font-size: calc(20px + 2vmin);
}

.menuBtn:hover {
  background-color: whitesmoke;
  color: #000000
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 50px;
}


.arrowBtn {
  padding-bottom: 5px;
  font-size: calc(30px + 2vmin);
  transform: rotate(90deg);
  color: whitesmoke;
  background: transparent;
  border: none;
  animation: 2s mymove infinite;
}

@keyframes mymove {
  from {color: whitesmoke;}
  to {color: #49A68B;}
}

