* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*--background-accent-theme: #2A1B3D;*/
  --background-accent-theme: #0E1540;
  --background-main-theme: #ECECEC;
  --text-accent-color: #f95d9b
}

body {
  background-color: #564F6F;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

section {
  width: 80%;
  margin: 0 auto 5vh auto;
  padding: 20px;
  background-color: var(--background-main-theme);
  color: #2D283E;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

h2 {
  padding: 8px;
}


h3 {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

h3:hover {
  background-color: var(--text-accent-color);
  color: whitesmoke;
  transition: .5s ease-in-out;
}

header {
  height: 15vh;
  width: 100%;
  font-size: 100%;
  margin-bottom: 40px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background: var(--background-accent-theme);
  font-family: 'Dancing Script', cursive;
  color: var(--text-accent-color);
  box-shadow: 0 1px 5px 5px #000000;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 10px 20px;
  font-size: 12px;
  background: var(--background-accent-theme);
  color: var(--text-accent-color);
  box-shadow: 0 1px 5px 5px #000000;
}

.socialIcons {
  padding: 5px;
  display: flex;
}

.icon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--background-main-theme);
}

.icon:hover {
  box-shadow: 0 0 6px 2px #fff;
}

.github {
  border: 1.5px solid var(--background-main-theme);
}

.about {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: larger;
  line-height: 25px;
  letter-spacing: 1.5px;
}

.sectionHeader {
  padding-bottom: 5px;
}


.gallery {
  display: grid;
  grid-gap: 20px;
  padding: 10px
}

.galleryImg {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 3px 0 #999;
  border-radius: 3px;
}

.projectLink {
  height: 100%;
  border: none;
}

.projectLink:hover {
  cursor: pointer;
}

.overlay {
  position: relative;
}

.modal {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 8px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: smaller;
  background-color: black;
  opacity: 80%;
  color: var(--background-main-theme);
}

.feature {
  margin-bottom: 10px;
}

.features {
  display: grid;
}

.resumeData {
  padding-left: 12px;
  margin: 15px 10px;
  line-height: 1.6;
  border-left: 1px solid #999;
}

.active {
  background-color: var(--text-accent-color);
  color: whitesmoke;
  transition: .5s ease-in-out;
}

.arrowBtn {
  font-size: calc(20px + 2vmin);
  transform: rotate(-90deg);
  color: whitesmoke;
  text-decoration: none;
  animation: 2s mymove infinite;
}

.arrowBtn:hover {
  cursor: pointer;
}

@keyframes mymove {
  from {color: whitesmoke;}
  to {color: var(--text-accent-color)}
}

@media(min-width: 480px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media(min-width: 768px) {
  .section {
    width: 70%;
  }
}

@media(min-width: 992px) {
  .section {
    width: 60%;
  }
}




