* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

}

:root {
  --background-accent-theme: url('./static/background-green.jpg');
  --background-main-theme: #EEEEEE;
}

body {
  background-color: var(--background-main-theme);
}

section {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10vh;
}

a {
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

h2 {
  padding: 8px;
  text-align: center;
}

h3 {
  padding: 10px;
  width: 100%;
  text-align: center;
}

h3:hover {
  background-color: #4F9692;
  color: whitesmoke;
  transition: .5s ease-in-out;
}

header {
  height: 15vh;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--background-accent-theme);
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--background-accent-theme);
}

.about {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

.sectionHeader {
  padding-bottom: 10px;
  position: relative;
}

.sectionHeader h2::before {
  content: '';
  width: 25%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0;
  background: black;
}

.sectionHeader h2::after {
  content: '';
  width: 25%;
  height: 1px;
  position: absolute;
  top: 22px;
  right: 0;
  background: black;
}

.galleryImg {
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--background-main-theme);
}

.github {
  border: 1.5px solid var(--background-main-theme);
}


@media(min-width: 480px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .features {
    flex-direction: row;
  }
  .sectionHeader h2::before {
    width: 30%;
  }

  .sectionHeader h2::after {
    width: 30%;
  }
}

@media(min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .section {
    width: 70%;
  }
  .sectionHeader h2::before {
    width: 38%;
  }

  .sectionHeader h2::after {
    width: 38%;
  }
}

@media(min-width: 992px) {
  .section {
    width: 60%;
  }
}


/*.arrowBtn {*/
/*  padding-bottom: 5px;*/
/*  font-size: calc(30px + 2vmin);*/
/*  transform: rotate(90deg);*/
/*  color: whitesmoke;*/
/*  background: transparent;*/
/*  border: none;*/
/*  animation: 2s mymove infinite;*/
/*}*/

/*@keyframes mymove {*/
/*  from {color: whitesmoke;}*/
/*  to {color: #49A68B;}*/
/*}*/

